
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1.25rem;
    color: #1B281B;
    line-height: 1.6;
}

header {
    text-align: center;
}

h1 {
    color: #4676A9;
    font-size: 7.5rem;
    text-align: center;
}

h2 {
    color: #CB721C;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

section {
    margin-block: 100px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #22466C;
    color: #FFF;
    border: solid 5px #6E84CF;
}
